@import "./themes/nord.css";

* {
    font-family: JetBrainsMono Nerd Font Mono, sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#battery {
    padding: 0 10px 0 6px;
    font-size: 24px;
}

#clock {
    color: @blue;
}

#clock.clock {
    padding: 0 20px 0 0;
}

#network {
    padding: 0 25px 0 10px;
    font-size: 24px;
}

#workspaces {
    padding-left: 10px;
}

#workspaces button {
    background: @bg;
    border: none;
    color: @fg;
}

#workspaces button.active {
    color: @yellow;
}

#custom-rss {
    color: #ea9a97;
    padding-top: 2px;
    padding-right: 20px;
}
