@import "./everforest.css";

* {
    font-family: JetBrainsMono Nerd Font Mono, sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#battery {
    padding: 0 10px 0 6px;
    font-size: 24px;
}

#clock {
    color: @blue;
}

#clock.clock {
    color: @blue;
    padding: 0 20px 0 0;
}

#network {
    padding: 0 25px 0 10px;
    font-size: 24px;
}

#workspaces {
    padding: 0 0 0 10px;
}

#workspaces button {
    color: @fg;
}

#workspaces button.active {
    color: @yellow;
}

#custom-rss {
    color: #ea9a97;
    padding: 2px 20px 0px 0px;
}
